@-webkit-keyframes pulse {
  from { -webkit-box-shadow: 0 0 9px #333; }
  50% { -webkit-box-shadow: 0 0 18px #91bd09; }
  to { -webkit-box-shadow: 0 0 9px #333; }
}

* {
  font-family: 'Zilla Slab';
  font-weight: 300;
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration-skip: ink;
}

#dob {
  font-family: menlo
}

body {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: opacity 300ms;
}

.title.active {
  position: absolute;
  top: 0;
  left: 20px;
}

.description {
  font-size: 16px;
  margin-top: 60px;
}

ul.weeks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  padding: 0;
  margin: 0;
}

li.week {
  border: 1px solid #666;
  height: 4px;
  width: 4px;
  margin: 2px 5px 2px 0;
  border-radius: 50%;
  position: relative;
}

li.week:hover .yearToolTip {
  opacity: 1;
}

.yearToolTip {
  position: absolute;
  top: -32px;
  left: -24px;
  font-size: 14px;
  z-index: 1;
  opacity: 0;
  transition: opacity 300ms;
  background: #444;
  border-radius: 5px;
  border: 2px solid #666;
  padding: 5px 10px;
}

::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper { background: #222; }
::-webkit-datetime-edit-text { color: #fff; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #fff; }
::-webkit-datetime-edit-day-field { color: #fff; }
::-webkit-datetime-edit-year-field { color: #fff; }
::-webkit-inner-spin-button { display: none; }
::-webkit-clear-button { display: none; }
::-webkit-calendar-picker-indicator { background: #222; color: #666; opacity: 1; }

.dobInputGroup {
  /* font-size: 14px; */
  display: flex;
  flex-direction: column;
}

.dobInputGroup.active {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-left: 2px solid #666;
  border-bottom: 2px solid #666;
  border-bottom-left-radius: 3px;
}

.dobInputGroup.active label {
  margin-top: 0;
}

.dobInputGroup input {
  font-size: 12px;
  border: none;
  padding-bottom: 1px;
  background: #222;
  outline: none;
  width: 110px;
}

.dobInputGroup label {
  margin-bottom: 5px;
  margin-top: 10px;
}

li.active {
  background-color: #fff;
  border: 1px solid #fff !important;
}

.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.hidden {
  display: none;
}

.newYear.active {
  background: #00BBFF;
  border: 1px solid #00BBFF !important;
}

